.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
  transform: scale(1.0);
  z-index: -1;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn:hover {
  border-color: var(--color-neutral-blue);
  transform: scale(1.2);
  transition: ease-out 90ms;
  z-index: 2;
  background-color: var(--color-primary);
  color: #fff;
}

.btn-light:hover {
  background-color: var(--color-primary);
  color: #fff;
}
