:root {
  --color-primary: #F495B6;
  --color-primary-light: #FFC5DB;
  --color-secondary: #84D1DD;
  --color-accent: #FF5294;
  --color-neutral-blue: #31A4AA;
  --color-whatever: #00D2E8;

  --font-primary: "Roboto", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  color: var(--color-whatever);
}

h4, h5, h6 {
  color: var(--color-neutral-blue);
}

ul, ol, dl {
  color: var(--color-primary);
}

blockquote {
  color: var(--color-primary-light);
}

em, strong, del, ins, abbr, dfn, i, b, mark, q, s, u {
  color: var(--color-primary-light);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

mark {
  background-color: var(--color-whatever);
}
