:root {
  --color-primary: #f495b6;
  --color-primary-light: #ffc5db;
  --color-secondary: #84d1dd;
  --color-accent: #ff5294;
  --color-neutral-blue: #31a4aa;
  --color-whatever: #00d2e8;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Slabo 27px", serif;
}

html {
  font-family: var(--font-secondary);
}

h1, h2, h3 {
  color: var(--color-whatever);
  font-family: var(--font-primary);
}

h4, h5, h6 {
  color: var(--color-neutral-blue);
  font-family: var(--font-primary);
}

ul, ol, dl {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

blockquote {
  color: var(--color-primary-light);
  font-family: var(--font-primary);
}

em, strong, del, ins, abbr, dfn, i, b, mark, q, s, u {
  color: var(--color-primary-light);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

mark {
  background-color: var(--color-whatever);
  font-family: var(--font-primary);
}
